.navbar-brand{
    padding: 15px;
    background-color: #4aaaa5;
    color: white;
    width: 100%;
    text-align: center;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.btn-group {
    margin-top: 20px;
    right: 0;
    margin-bottom: 10px;
    color: #777777;
}

.jumbotron {
    background-color: white;
    border: 2px solid #666;
    color: #777777;
}

.card {
    border: none;
    text-align: center;
    border-top: 4px solid #4aaaa5;
    background-color: #666;
    color: white;
    bottom: 0;
    display: block;
    position: fixed;
    width: 100%;
    left: 0
}

body {
    background-image: url("./assets/circuit.png")
}

.header {
    background-color: white;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
}

h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.img-fluid {
    float: left;
    margin-right: 20px;
}

/* Contact page */
 .message {
     width: 70%;
     height: 100px;
 }

 .contact-submit{
     background-color: #4aaaa5;
     color: white;
 }

 /* Portfolio page */

 .hangman {
    position: relative;
    margin: 0 auto;
    width: 250px;
    height: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.hangman-btn {
    border: none;
    position: absolute;
    bottom: 10%;
    left: 0%;
    width: 250px;
    height: 50px;
    background-color: #4aaaa5;
    color: white;
    transition: all .1s ease-out;
}

.hangman-btn:hover {
    box-shadow: 0px 5px 5px black;
    bottom: 11%;
}

.rpg {
    position: relative;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.rpg-btn {
    border: none;
    position: absolute;
    bottom: 10%;
    right: 0%;
    width: 250px;
    height: 50px;
    background-color: #4aaaa5;
    color: white;
    transition: all .1s ease-out;
}

.rpg-btn:hover {
    box-shadow: 0px 5px 5px black;
    bottom: 11%;
}

.trivia {
    position: relative;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.trivia-btn {
    border: none;
    position: absolute;
    bottom: 10%;
    left: 0%;
    width: 250px;
    height: 50px;
    background-color: #4aaaa5;
    color: white;
    transition: all .1s ease-out;
}

.trivia-btn:hover {
    box-shadow: 0px 5px 5px black;
    bottom: 11%;
}

.widget {
    position: relative;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.widget-btn {
    border: none;
    position: absolute;
    bottom: 10%;
    right: 0%;
    width: 250px;
    height: 50px;
    background-color: #4aaaa5;
    color: white;
    transition: all .1s ease-out;
}

.widget-btn:hover {
    box-shadow: 0px 5px 5px black;
    bottom: 11%;
}

.rock {
    position: relative;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.rock-btn {
    border: none;
    position: absolute;
    bottom: 10%;
    left: 0%;
    width: 250px;
    height: 50px;
    background-color: #4aaaa5;
    color: white;
    transition: all .1s ease-out;
}

.rock-btn:hover {
    box-shadow: 0px 5px 5px black;
    bottom: 11%;
}
